################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/OctopusFramework/v16
/OctopusFramework.V2.Basis/bin
/OctopusFramework.V2.Basis/obj
/OctopusFramework.V2.MVC/bin
/OctopusFramework.V2.MVC/obj
/packages
*.nupkg
/Nugets/Windows/OctopusFramework.V2.Basis/lib/net46
/Nugets/Windows/OctopusFramework.V2.MVC/lib/net46
